@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-mint: #99F6E4;
  --color-indigo: #4F46E5;
  --color-slate: #0F172A;
  --gradient-indigo-mint: linear-gradient(135deg, #88ebc5 0%, #5946df 100%);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #0F172A;
}

.font-heading {
  font-family: 'Inter', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
